@import "./veriable";
@import "./fonts";
@import "./header";
@import "./main";
@import "./footer";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.contianer {
    max-width: 1280px;
    margin: 0 auto;
}


